############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store



# Custom Project Ignores
## Ignore the Composer-managed stuff
/composer.phar
/vendor/
